body
{
    font-family: sans-serif;
    background-color: purple;
}

#wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#wrapper>div
{
    flex: 0 0 300px;
    background-color: #fff;
    margin-bottom: 2em;
}

.vak h3, .vak h4, .vak p
{
    padding: 0 1em;
}


.vak
{
    display: flex;
    flex-direction: column;
}

.vak button
{
    margin: auto auto 1em auto;
}

.wrapper>div:empty
{
    height: 0;
}